//variables and mixins
$accent-font-color: #A53860;

//transitions mixin
@mixin transition-mix($property: all, $duration: 0.2s, $timing: linear, $delay: 0s) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing;
  transition-delay: $delay;
}

//position absolute mixin
@mixin position-absolute ($top: null, $left: null, $right: null, $bottom: null) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

/* common styles !!!YOU DON'T NEED THEM  */
body {
  font: {
    family: 'Raleway', sans-serif;
  }
}

.container {
  width: 550px;
  margin: 70px auto 0px auto;
  text-align:  center;
  
  h1 {
    font: {
      weight: 400;
      size: 35px;
    }
    
    span {
      font: {
        family: 'Satisfy', cursive;
      }
      color: $accent-font-color;
      position: relative;
      display: inline-block;
      
      &:after {
        content: '';
        display: block;
        width: 10px;
        height: 20px;
        @include position-absolute($top: -6px, $right: 0);
        border-left: 2px solid currentColor;
        border-bottom: 8px solid currentColor;
        border-radius: 50%;
        transform: rotate(-90deg);
      }
    }
  }
}

